
{% extends "layout.html" %}



{% block js_image_content %}

<script type="text/javascript">
    jQuery(document).ready(function($){
     'use strict';
     jQuery('body').backstretch([
       "static/images/bg/bg1.jpg",
       "static/images/bg/bg2.jpg"
            // ,"images/bg/bg3.jpg"
         ], {duration: 5000, fade: 500, centeredY: true });

     $("#mapwrapper").gMap({ controls: false,
      scrollwheel: false,
      markers: [{   
       latitude:40.7566,
       longitude: -73.9863,
       icon: { image: "images/marker.png",
       iconsize: [44,44],
       iconanchor: [12,46],
       infowindowanchor: [12, 0] } }],
       icon: { 
         image: "images/marker.png", 
         iconsize: [26, 46],
         iconanchor: [12, 46],
         infowindowanchor: [12, 0] },
         latitude:40.7566,
         longitude: -73.9863,
         zoom: 14 });
   });
 </script>


{% endblock js_image_content %}

{% block content  %}


    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                	<span class="home-icon pe-7s-gleam bounce-in"></span>
                                    <h2 class="boxed animation animated-item-1 fade-down mt-4">AvaliaGeo</h2><br>
                                    <p class="boxed animation animated-item-2 fade-up">Avaliar Notícias Geocodificadas a partir de sites como : g1.com, yahoo.com.br</p>
                                    <br>

                                    <a class="btn btn-outline-success animation bounce-in" href="{{url_for('index',_anchor='about-us')}}">Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <div id="content-wrapper">
        
        <section id="about-us" class="white">
        	<div class="container">
	            <div class="gap"></div>
	            <div class="row">
	                <div class="col-md-12">
	                    <div class="center gap fade-down section-heading">
	                        <h2 class="main-title">Um Pouco Sobre o Projeto</h2>
	                        <hr>
	                        <p>Um sistema que permite aos usuários classificar referências geográficas presente em notícias</p>
	                    </div>                
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-10 col-md-offset-1 fade-up">
	                    <p class="text-justify">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>

	                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>

	                     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>

	                </div>
	                <div class="col-md-4 fade-up">

	                </div>
	            </div>
               
               <div class="row">
	               	<div class="center-block text-center ">
	               		<a class="btn btn-lg btn-outlined btn-primary animation bounce-in" href="{{url_for('avaliar')}}" style="font-size: 2em">Avaliar</a>
	               	</div>
               </div> 


	            <div class="gap"></div>  
	            <div class="gap"></div>   
            </div>      
        </section>

			

        </div>

{% endblock content  %}
